.projectCard {
    padding: 1rem;
    border: 1px solid #353535;
    border-radius: 5px;
    width: 270px;
    margin: 0.5%;
    margin-bottom: 1rem;
    position: relative;
    overflow: hidden;
}

.projectCard h4 {
    background-color: #222;
    color: #ffbb33;
    padding: .4rem;
    margin-bottom: .5rem;
    font-size: 1.3rem;
    word-break: break-all;
}

.projectCard p {
    color: #353535;
    margin-bottom: .5rem;
    max-width: 100%;
    word-break: break-all;
}

.projectCard p span {
    font-weight: bold;
}

.categoryText {
    display: flex;
    align-items: center;
}

.categoryText span {
    display: block;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: #ccc;
    margin-right: 5px;
}

.categoryText .infra {
    background-color: #ff6982;
}

.categoryText .desenvolvimento {
    background-color: #6ab9fa;
}

.categoryText .design {
    background-color: #5ff78c;
}

.categoryText .planejamento {
    background-color: #fdbf5b;
}

.projectCardActions {
    margin-top: 1.2rem;
    display: flex; 
    align-items: center;
}

.projectCardActions a,
.projectCardActions button {
    text-decoration: none;
    border: none;
    background-color: #fff;
    color: #000000;
    font-size: .9rem;
    padding: .6rem 1rem;
    margin-right: 1rem;
    cursor: pointer;
    border: 1px solid #222;
    display: flex;
    align-items: center;
    justify-content: center;
}

.projectCardActions svg {
    margin-right: .5rem;
}

.projectCardActions a:hover,
.projectCardActions button:hover {
    background-color: #222;
    color: #ffbb33;
}