.form_control {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
}

label {
    margin-bottom: .6rem;
    font-weight: bold;
}

select {
    padding: .7rem;
    border-radius: 0;
    border: none;
}
