.home_section {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 4rem;
    gap: 1rem;
}

h1 {
    font-size: 2.5rem;
}

h1 span {
    background-color: #222;
    color: #ffbb33;
    padding: 0 8px;
}

p {
    color: #7b7b7b;
    font-weight: 600;
}

img {
    max-width: 450px;
}

@media screen and (max-width: 570px) {
    img {
        max-width: 400px;
    }
    .home_section {
        padding: 1.2rem;
        gap: 0rem;
    }
}
@media screen and (max-width: 375px) {
    img {
        max-width: 300px;
    }
}