.projectContainer {
    padding: 2rem;
    max-width: 100%;
    justify-content: center;
}

.titleContainer {
    display: flex;
    justify-content: space-between;
    margin-bottom: 2rem;
}

.divCard {
    column-count: 4;
    position: relative;
}

@media screen and (max-width: 1150px) {
    .divCard {
        column-count: 3;
    }
}

@media screen and (max-width: 850px) {
    .divCard {
        column-count: 2;
    }
}
@media screen and (max-width: 570px) {
    .divCard {
        column-count: 1;
    }
    .titleContainer {
        flex-direction: column;
    }
    .titleContainer h1 {
        text-align: center;
        font-size: 2rem;
    }
}