.btn {
    background-color: #222;
    color: #fff;
    text-decoration: none;
    padding: .5rem 1rem;
    margin: auto 0;
    transition: .3s;
    cursor: pointer;
    max-height: 40px;
    text-align: center;
}

.btn:hover {
    background-color: #141414;
    color: #ffbb33;
}