.loaderContainer {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.loader {
    width: 50px;
}

.ajustarLoader {
    position: absolute;
    left: 50%;
}