.navbar {
    display: flex;
    justify-content: space-between;
    background-color: #222;
    padding: .3em;
}

.list {
    display: flex;
    list-style: none;
    align-items: center;
    gap: 1em;
}

.list a {
    color: #fff;
    text-decoration: none;
}

.list a:hover {
    color: #ffbb33;
}

.button a {
    border: solid 2px #ffbb33;
    font-size: 1.2rem;
    font-weight: 600;
    padding: 8px;
    color: #222;
    background-color: #ffbb33;
    border-radius: 10px;
}

.button a:hover {
    color: #ffffff;
    background-color: #222;
}
